div{
	width: 200px;
	height: 200px;
	border: 1px solid;
	margin: 20px;
}

.codigo{
	float: right;
}

.lineal{
	background: -webkit-linear-gradient(blue, orange);
	background: -o-linear-gradient(blue, orange);
	background: linear-gradient(blue, orange);
}
.colores{
	background: -webkit-linear-gradient(blue,orange,red,yellow,violet,green);	
}
.angulo{
	background: -webkit-linear-gradient(top left, blue, orange);
	background: -o-linear-gradient(top left, blue, orange);
	background: linear-gradient(to bottom right, blue, orange);
}

.radial{
	background: -webkit-radial-gradient(orange, blue);
}

.repeticion{
	background: -webkit-repeating-radial-gradient(left bottom, ellipse farthest-side, black 0%, lime 20%);
}